* {
  box-sizing: border-box;
}

.item1 {
  grid-area: cover;
  background: url(nature-design.jpg) right bottom no-repeat;
  flex: 0;

  border: solid black 1px;
}

.item2 {
    grid-area: name;

    text-align: center;
}

.item3 {
    grid-area: navbar;

    border: solid black 1px;
}

.item4 {
    grid-area: info;
    border-radius: 2.5%;
    padding: 15px;

    border: solid black 1px;
}
.item5 {
    grid-area: post;
    border-radius: 2.5%;

    border: solid black 1px;
}
.item6 {
    grid-area: photos;
    border-radius: 2.5%;
    padding: 15px;

    border: solid black 1px;
}


.grid-container {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 4fr 4fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'cover cover cover cover cover'
  'name name name name name'
  'navbar navbar navbar navbar navbar'
  'info info post post post'
  'photos photos post post post';

  grid-gap: 20px;
  padding: 25px;
  padding-right: 10%;
  padding-left: 10%;
}

.profilepic{
    border-radius: 50%;

    border: solid black 4px;

    position: absolute;
    left: 40%;
    right: 40%;
    width: 20%;
    top: 12%;

    flex: 1;
}

li{
    text-align: left;
    display: inline-block;
    padding: 20px;
}

li:hover {
  background-color: grey;
}

.allPhotos{
  float:right;
}
